{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block head %}
<meta name="description" content="Homepage">
<meta name="keywords" content="home, page">
<meta name="author" content="John Duo">
<style>
</style>
{% endblock %}

{% block main %}
<div class="container text-light text-center" style="margin-top: 12rem">
    <h1>{{ constants.APP_NAME }}</h1>
    <hr>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h4>
</div>
{% endblock %}

{% block script %}
<script>
    $(() => {
        // code
    });
</script>
{% endblock %}
