{% extends 'layout.html' %}

{% block title %}
Register
{% endblock %}

{% block head %}
<meta name="description" content="Register">
<meta name="keywords" content="register, auth">
<meta name="author" content="John Duo">
<style>
</style>
{% endblock %}

{% block main %}
<div class="container my-5">
    <div class="row">
        <div class="col col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <form id="register-form" action="/register" method="post">
                <i class="bi bi-chart"></i>
                <h1 class="mb-3 fs-2">Register</h1>
                <hr>
                <div id="alert" class="alert alert-danger d-none"></div>
                <div class="mb-3">
                    <label for="user_email">E-mail <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" name="user_email" placeholder="example@email.com" required autofocus />
                </div>
                <div class="mb-3">
                    <label for="user_name">Username <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" name="user_name" placeholder="John Due" required minlength="5" maxlength="20" />
                </div>
                <div class="mb-3">
                    <label for="user_name">Password <span class="text-danger">*</span></label>
                    <input id="user_password" name="user_password" type="password" class="form-control" placeholder="Password" required minlength="8" maxlength="30" />
                </div>
                <div class="mb-3">
                    <label for="user_name">Confirm Password <span class="text-danger">*</span></label>
                    <input id="user_confirm_password" type="password" class="form-control" placeholder="Password" required minlength="8" />
                </div>
                <button id="submit-btn" type="button" class="btn btn-primary w-100 mt-3">
                    Register
                    <i class="bi bi-person-add"></i>
                </button>
                <hr>
                <a href="/login" class="btn btn-link w-100">Back to Login</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(() => {
        $("#submit-btn").on("click", onSubmitBtnClick);
    });

    async function onSubmitBtnClick(evt) {
        $("#alert").addClass("d-none");
        let form = $("#register-form");
        let formEl = form[0];
        if (!formEl.checkValidity()) {
            formEl.reportValidity();
            return;
        }

        let userPassword = $("#user_password").val();
        let userConfirmPassword = $("#user_confirm_password").val();
        if (userPassword !== userConfirmPassword) {
            $("#alert").removeClass("d-none").html("<b>Password</b> and <b>Confirm Password</b> must be the same.");
            return;
        }

        $("#register-form").trigger("submit");
    }
</script>
{% endblock %}
