{% from 'macros/alerts.html' import flash_alerts with context %}
{% from "macros/breadcrumb.html" import breadcrumb with context %}
{% from "macros/fields.html" import
    text_field,
    numeric_field,
    textarea_field,
    date_field,
    datetime_field,
    select_field,
    file_field %}
{% extends 'layout.html' %}
{% block title %}Form{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col">
            {{ breadcrumb(['Admin', 'Form']) }}
            <div class="fs-3 text-white">Form Example</div>
            <div class="card">
                <div class="card-body">
                    <form id="example-form" action="/backoffice/form/save" method="POST">
                        {{ flash_alerts() }}
                        {{
                            text_field(
                                id="f1",
                                name="f1",
                                css_class='blue-text',
                                label=i18n.forms.example.f1.label,
                                placeholder=i18n.forms.example.f1.placeholder
                            )
                        }}
                        {{
                            numeric_field(
                                id="f2",
                                name="f2",
                                label=i18n.forms.example.f2.label,
                                placeholder=i18n.forms.example.f2.placeholder,
                                min_value="0",
                                max_value="100",
                                step_value="1"
                            )
                        }}
                        {{
                            textarea_field(
                                id="f3",
                                name="f3",
                                label=i18n.forms.example.f3.label,
                                placeholder=i18n.forms.example.f3.placeholder,
                                default="Default value..."
                            )
                        }}
                        {{
                            date_field(
                                id="f4",
                                name="f4",
                                label=i18n.forms.example.f4.label,
                            )
                        }}
                        {{
                            datetime_field(
                                id="f5",
                                name="f5",
                                label=i18n.forms.example.f5.label,
                            )
                        }}
                        {{
                            select_field(
                                id="f6",
                                name="f6",
                                label=i18n.forms.example.f6.label,
                                options={ 0: i18n.general.no,
                                            1: i18n.general.yes }
                            )
                        }}
                        {{
                            file_field(
                                id="f7",
                                name="f7",
                                label=i18n.forms.example.f7.label,
                            )
                        }}
                        <div>
                            <a class="btn btn-secondary" href="/admin/list">{{ i18n.actions.cancel }}</a>
                            <button id="btn-submit" type="submit" class="btn btn-primary">{{ i18n.actions.save }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
