{% from 'macros/alerts.html' import alerts with context %}
{% from "macros/fields.html" import
    text_field,
    numeric_field,
    textarea_field,
    date_field,
    datetime_field,
    select_field,
    file_field %}
{% extends 'layout.html' %}
{% block title %}Form{% endblock %}
{% block content %}
<div class="container">
    <form action="/backoffice/form/save" method="POST">
        <h5 class="white-text">{{ dictionary.general.actions }}</h5>
        <div class="panel">
            {{ alerts() }}
            <a class="btn red" href="/admin/list">{{ dictionary.actions.cancel }}</a>
            <button type="submit" class="btn black">{{ dictionary.actions.save }}</button>
        </div>

        <h5 class="white-text">{{ dictionary.general.form }}</h5>
        <div class="panel">
            {{
                text_field(
                    id="f1",
                    name="f1",
                    css_class='blue-text',
                    label=dictionary.forms.example.f1.label,
                    placeholder=dictionary.forms.example.f1.placeholder
                )
            }}
            {{
                numeric_field(
                    id="f2",
                    name="f2",
                    label=dictionary.forms.example.f2.label,
                    placeholder=dictionary.forms.example.f2.placeholder,
                    min_value="0",
                    max_value="100",
                    step_value="1"
                )
            }}
            {{
                textarea_field(
                    id="f3",
                    name="f3",
                    label=dictionary.forms.example.f3.label,
                    placeholder=dictionary.forms.example.f3.placeholder,
                    default="Default value..."
                )
            }}
            {{
                date_field(
                    id="f4",
                    name="f4",
                    label=dictionary.forms.example.f4.label,
                )
            }}
            {{
                datetime_field(
                    id="f5",
                    name="f5",
                    label=dictionary.forms.example.f5.label,
                )
            }}
            {{
                select_field(
                    id="f6",
                    name="f6",
                    label=dictionary.forms.example.f6.label,
                    options={ 0: dictionary.general.no,
                              1: dictionary.general.yes }
                )
            }}
            {{
                file_field(
                    id="f7",
                    name="f7",
                    label=dictionary.forms.example.f7.label,
                )
            }}
        </div>
    </form>
</div>
{% endblock %}
