{# Text field #}
{% macro text_field(id, label, name='', placeholder='', required=True,
                    css_class='', disabled=False, default='') %}
<div class="mb-2 position-relative">
    <label>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </label>
    <input
        type="text",
        id="{{id}}"
        value="{{default}}"
        class="form-control {{css_class}}"
        placeholder="{{placeholder}}"
        {% if name %}name="{{name}}"{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >
    <div class="invalid-tooltip end-0 end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0 end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# Numeric Field #}
{% macro numeric_field(id, label, name='', placeholder='', required=True,
                       css_class='', disabled=False, default='', min_value=0,
                       max_value=100, step_value=1) %}
<div class="mb-2 position-relative">
    <span>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </span>
    <input
        type="number",
        id="{{id}}"
        name="{{name}}"
        value="{{default}}"
        class="form-control {{css_class}}"
        min="{{min_value}}"
        max="{{max_value}}"
        step="{{step_value}}"
        placeholder="{{placeholder}}"
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# Textarea #}
{% macro textarea_field(id, label, name='', placeholder='', required=True,
                        css_class='', disabled=False, default='') %}
<div class="mb-2 position-relative">
    <span>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </span>
    <textarea
        id="{{id}}"
        name="{{name}}"
        class="form-control {{css_class}}"
        placeholder="{{placeholder}}"
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >{{default}}</textarea>
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# Date field #}
{% macro date_field(id, label, name='', required=True, css_class='',
                    disabled=False, default='') %}
<div class="mb-2 position-relative">
    <span>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </span>
    <input
        type="date",
        id="{{id}}"
        name="{{name}}"
        value="{{default}}"
        class="form-control {{css_class}}"
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# Datetime field #}
{% macro datetime_field(id, label, name='', required=True, css_class='',
                        disabled=False, default='') %}
<div class="mb-2 position-relative">
    <span>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </span>
    <input
        type="datetime-local",
        id="{{id}}"
        name="{{name}}"
        value="{{default}}"
        class="form-control {{css_class}}"
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# Select field #}
{% macro select_field(id, label, name='', required=True, css_class='',
                      disabled=False, default='', options={}) %}
<div class="mb-2 position-relative">
    <span>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </span>
    <select
        id="{{id}}"
        name="{{name}}"
        class="form-control {{css_class}}"
        {% if required %}required{% endif %}
        {% if disabled %}disabled{% endif %}
    >
        {% for key, val in options.items() %}
            {% set selected = 'selected' if key == default else '' %}
            <option value="{{key}}" {{selected}}>{{val}}</option>
        {% endfor %}
    </select>
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}

{# File field #}
{% macro file_field(id, label, name='', required=True, css_class='',
                    disabled=False, multiple=False) %}
<div class="mb-2 position-relative">
    <div>
        {{label}}
        {% if required %}<span class="text-danger">*</span>{% endif %}
    </div>
    <input
        type="file",
        id="{{id}}"
        name="{{name}}"
        value="{{default}}"
        class="form-control {{css_class}}"
        {% if multiple %}multiple{% endif %}
        {% if disabled %}disabled{% endif %}
        {% if required %}required{% endif %}
    >
    <div class="invalid-tooltip end-0">
        {{ i18n.feedbacks.invalid_input }}
    </div>
    <div class="valid-tooltip end-0">
        {{ i18n.feedbacks.valid_input }}
    </div>
</div>
{% endmacro %}
