{% macro footer() %}
<div class="w-100 bg-body-tertiary text-body-secondary p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h4 class="text-body-emphasis">Website</h4>
                <div class="text-body-secondary">&copy; Copyright <span id="current-year"></span> - Website</div>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column">
                <h4 class="text-body-emphasis">Links</h4>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column">
                <h4 class="text-body-emphasis">Links</h4>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
            <div class="col-12 col-lg-3 d-flex flex-column">
                <h4 class="text-body-emphasis">Links</h4>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
