{# Bootstrap form validation script #}
{% macro form_validation_script(selector = '.needs-validation') %}
<script>
    $(document).ready(function () {
        const forms = document.querySelectorAll("{{selector}}");
        forms.forEach(function (form) {
            form.addEventListener(
                "submit",
                function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add("was-validated");
                },
                false
            );
        });
    });
</script>
{% endmacro %}
