{% macro global_head() %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" type="image/png" sizes="32x32" href="/static/medias/favicon-32x32.png">
<link rel="stylesheet" href="/static/plugins/bootstrap-5.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css">
<link rel="stylesheet" href="/static/plugins/toastr-2.1.4/toastr.min.css" />
<link rel="stylesheet" href="/static/styles/app.css" />
<script src="/static/plugins/jquery-3.7.1/jquery-3.7.1.min.js"></script>
<script src="/static/plugins/bootstrap-5.3.7/js/bootstrap.bundle.min.js"></script>
<script src="/static/plugins/toastr-2.1.4/toastr.min.js"></script>
<script src="/static/scripts/app.js"></script>
{% endmacro %}
