{% macro import_styles() %}
<link rel="stylesheet" href="/static/plugins/datatables/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/static/plugins/materialize/materialize.min.css">
<link rel="stylesheet" href="/static/styles/style.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css">
{% endmacro %}

{% macro import_scripts() %}
<script src="/static/plugins/jquery/jquery.min.js"></script>
<script src="/static/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="/static/plugins/materialize/materialize.min.js"></script>
{% endmacro %}
