{% macro navbar() %}
<nav class="navbar navbar-dark bg-dark p-3">
    <div class="container justify-content-start">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidenav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand ms-3" href="/">{{config.title}}</a>
        <div class="me-auto"></div>
        <ul class="nav d-none d-sm-flex">
            {% for code, name in locales.items() %}
            <li class="nav-item">
                <a class="nav-link white-anchor" href="/locale/{{code}}">{{name}}</a>
            </li>
            {% endfor %}
        </ul>
        {% if not is_authenticated() %}
        <div>
            <a class="btn btn-outline-light ms-2 d-none d-sm-block" href="/login">Login</a>
        </div>
        {% endif %}
    </div>
</nav>
{% endmacro %}
