{% macro sidenav() %}
    <ul id="sidenav" class="sidenav">
        {% if is_authenticated() %}
            <li class="center">
                <div class="avatar-letters circle center white-text" style="width: 64px; height: 64px; background: deepblue;">AA</div>
            </li>
            <li class="user-data">
                <div class="user-name">{{ session['user_name'] }}</div>
                <div class="user-name">{{ session['user_email'] }}</div>
            </li>
        {% else %}
            <li class="center">
                <h5 class="light white-text" style="margin: 15px 0px!important;">{{ config.title }}</h5>
            </li>
        {% endif %}
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="subheader">
                Menu
            </a>
        </li>
        {% for option in menu %}
            <li class="waves-effect waves-light">
                <a href="{{option[1]}}">
                    {% if option[2] %}
                        <i class="mdi {{option[2]}} mdi-24px"></i>
                    {% endif %}
                    {{option[0]}}
                </a>
            </li>
        {% endfor %}
    </ul>
    <script>
        $(document).ready(() => {
            $("#sidenav").sidenav();
        });
    </script>
{% endmacro %}
