{% macro sidenav() %}
<div id="sidenav" class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvas" style="width: 300px;">
    <div class="offcanvas-header">
        <div class="offcanvas-title fs-4" id="offcanvasExampleLabel">{{config.title}}</div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {% if is_authenticated() %}
        <div class="text-center">
            <div>{{session['user_name']}}</div>
            <div>{{session['user_email']}}</div>
        </div>
        {% endif %}
        <ul class="nav nav-pills flex-column">
            {% for group_name in menu.keys() %}
                <li class="nav-item mt-3">
                    <h6>{{group_name}}</h6>
                    <hr class="my-1">
                </li>
                {% for option in menu[group_name] %}
                    <li class="nav-item sidenav-button rounded">
                        <a class="nav-link text-white" href="{{option[1]}}">
                            <i class="bi {{option[2]}} me-2"></i>
                            {{option[0]}}
                        </a>
                    </li>
                {% endfor %}
            {% endfor %}
            <li class="nav-item mt-3">
                <h6>{{ i18n.general.idiom }}</h6>
                <hr class="my-1">
            </li>
            {% for code, name in locales.items() %}
                <li class="nav-item sidenav-button rounded">
                    <a class="nav-link text-white" href="/locale/{{code}}">
                        <i class="bi bi-translate me-2"></i>
                        {{name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}
