{% from "macros/fields.html" import
    text_field,
    numeric_field,
    textarea_field,
    date_field,
    datetime_field,
    select_field
    with context %}
{% extends 'layout.html' %}
{% block title %}Dynamic Form{% endblock %}
{% block content %}
<div class="container">
    <form
        {% if id %}
            action="/backoffice/dynamic_form/{{form_name}}/save/{{id}}"
        {% else %}
            action="/backoffice/dynamic_form/{{form_name}}/save"
        {% endif %}
        method="POST"
        >
        <h5 class="white-text">Actions</h5>
        <div class="panel">
            <button type="submit" class="btn black">Submit</button>
        </div>

        <h5 class="white-text">Form</h5>
        <div class="panel">
            {% for field, input_type in zip(
                form_data.fields,
                form_data.input_types
            ) %}
                {% if input_type == 'numeric' %}
                    {{ numeric_field(**field) }}
                {% elif input_type == 'textarea' %}
                    {{ textarea_field(**field) }}
                {% elif input_type == 'date' %}
                    {{ date_field(**field) }}
                {% elif input_type == 'datetime' %}
                    {{ datetime_field(**field) }}
                {% elif input_type == 'select' %}
                    {{ select_field(**field) }}
                {% else %}
                    {{ text_field(**field) }}
                {% endif %}
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
