{% from 'macros/alerts.html' import flash_alerts %}
{% from 'macros/recaptcha.html' import recaptcha with context %}
{% extends 'layout.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col col-12 col-sm-8 col-md-6 col-lg-4 offset-sm-2 offset-md-3 offset-lg-4">
            <form id="login-form" action="/login" method="POST">
                <div class="text-center fs-2 text-white">Login</div>
                <hr class="bg-light mt-2">
                {{ flash_alerts() }}
                <div class="form-floating">
                    <input type="email" class="form-control rounded-0 rounded-top" style="margin-bottom: -1px;" id="email" placeholder="Put your e-mail" name="email" required="" value="admin@admin.com">
                    <label for="email">E-mail</label>
                </div>
                <div class="form-floating mb-2">
                    <input type="password" class="form-control rounded-0 rounded-bottom" id="password" placeholder="Put your password" name="password" required="" value="admin">
                    <label for="password">Password</label>
                </div>
                <button id="btn-submit" type="submit" class="btn btn-primary btn-lg w-100">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

