.alert {
    padding: 10px;
    border-radius: 2px;
    width: 100%;
    color: white;
    margin: 0px 0px 8px 0px;
    display: flex;
    align-items: center;
}
.alert-error {
    background-color: #ff5252;
}
.alert-warning {
    background-color: #fb8c00;
}
.alert-info {
    background-color: #2196f3;
}
.alert-success {
    background-color: #4caf50;
}
.alert-error i,
.alert-warning i,
.alert-info i,
.alert-success i {
    margin-right: 10px;
}
