{% from "macros/toast.html" import toast %}
{% extends 'layout.html' %}
{% block title %}Homepage{% endblock %}
{% block content %}
<div class="container">
    <div class="text-light text-center" style="margin-top: 12rem">
        <h1 class="">{{i18n.homepage.title}}</h3>
        <hr>
        <h3 class="">{{i18n.homepage.subtitle}}</h6>
    </div>
</div>
{% endblock %}
{% block toasts %}
    {% if is_authenticated() %}
        {{ toast('Notification', i18n.general.welcome, 'success', 'bi-info-circle-fill') }}
    {% endif %}
{% endblock %}
