{# Alert macro #}
{% macro alert(message, type, dismissible = true) %}
<div class="alert alert-{{type}} {{ 'alert-dismissible' if dismissible else '' }}">
    {{message}}
    {% if dismissible %}
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    {% endif %}
</div>
{% endmacro %}

{# Create alerts by flash messages #}
{% macro flash_alerts() %}
    {% for category, message in get_flashed_messages(with_categories=true) %}
        {{ alert(message, category) }}
    {% endfor %}
{% endmacro %}
