{% macro sidenav() %}
<div id="sidenav" class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvas" style="width: 300px;">
    <div class="offcanvas-header">
        <div class="offcanvas-title fs-4" id="offcanvasExampleLabel">{{config.title}}</div>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        {% if is_authenticated() %}
        <div class="text-center">
            <div>{{session['user_name']}}</div>
            <div>{{session['user_email']}}</div>
        </div>
        {% endif %}
        <ul class="nav nav-pills flex-column">
            {% for item in menu %}
                {% if item.header %}
                <li class="nav-item mt-3">
                    <h6>{{ item.header }}</h6>
                    <hr class="my-1">
                </li>
                {% elif item.modal %}
                <li class="nav-item sidenav-button rounded">
                    <a
                        class="nav-link text-white"
                        href="javascript:void(0)"
                        data-bs-toggle="modal"
                        data-bs-target="{{ item.modal }}"
                    >
                        <i class="bi {{item.icon}} me-2"></i>
                        {{ item.title }}
                    </a>
                </li>
                {% else %}
                <li class="nav-item sidenav-button rounded">
                    <a
                        class="nav-link text-white"
                        href="{{item.link}}"
                    >
                        <i class="bi {{item.icon}} me-2"></i>
                        {{ item.title }}
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            <li class="nav-item mt-3">
                <h6>{{ i18n.general.idiom }}</h6>
                <hr class="my-1">
            </li>
            {% for code, name in locales.items() %}
                <li class="nav-item sidenav-button rounded">
                    <a class="nav-link text-white" href="/locale/{{code}}">
                        <i class="bi bi-translate me-2"></i>
                        {{name}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endmacro %}
